<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../global/my-firebase-mixin.html">

<link rel="import" href="../../bower_components/vaadin-time-picker/vaadin-time-picker.html">


<dom-module id="log-session">
  <template>
    <style>
      :host {}

      .container {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

    </style>

    <template is="dom-if" if="[[contentVisible]]">
      <div class="container">

        <iron-input bind-value="{{startTime}}">
          <input placeholder="start">
        </iron-input>
        <iron-input bind-value="{{endTime}}">
          <input placeholder="end">
        </iron-input>
        <iron-input bind-value="{{title}}">
          <input placeholder="title">
        </iron-input>
        <iron-input bind-value="{{description}}">
          <input placeholder="description">
        </iron-input>

        <button on-click="_setStartTime">Start Session</button>
        <button on-click="_setEndTime">End Session</button>
        <button on-click="_logTime">Submit</button>
        <button on-click="_hideContent">Hide</button>

      </div>
    </template>
    
    
    <template is="dom-if" if="[[!contentVisible]]">
      <button on-click="_showContent">Log Session</button>
    </template>
  </template>

  <script>
    class LogSession extends MyFirebaseMixin(Polymer.Element) {
      static get is() {
        return 'log-session';
      }

      static get properties() {
        return {
          contentVisible: {
            type: Boolean,
            value: false
          },
          startTime: {
            type: Number
          },
          endTime: {
            type: Number
          },
          title: {
            type: String
          },
          description: {
            type: String
          },
          vaadinValue: {
            type: Number
          },
        };
      }
      connectedCallback() {
        super.connectedCallback();
      }

      _hideContent() {
        this.contentVisible = false;
      }
      _showContent() {
        this.contentVisible = true;
      }

      _logTime() { 
        let sessionInfo = {
          title: this.title,
          startTime: this.startTime,
          endDateTime: this.endTime,
          notes: this.description,
          ownerID: this.getUserID(),
          workspace: this.getCurrentWorkspaceRef()
        };

        window.TTrack.firestore.collection("working_sessions").add(sessionInfo);
        
        console.log(this.startTime);
        console.log(this.endTime);
        console.log(this.title);
        console.log(this.description);
        console.log(this.getUserID());
      }

      _getCurrentTime() {

        let date = new Date()

        return Math.floor(date.getTime() / 1000);

      }

      _setStartTime() {
        this.startTime = this._getCurrentTime();
        this.startTime = new window.TTrack.firebase.firestore.Timestamp(this.startTime);
      }

      _setEndTime() {
        this.endTime = this._getCurrentTime();
        this.endTime = new window.TTrack.firebase.firestore.Timestamp(this.endTime);
      }

    }

    window.customElements.define(LogSession.is, LogSession);
  </script>
</dom-module>