<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-timer">
  <template>
    <style>
      :host {
      }
    </style>

    i'm a timer

  </template>

  <script>
    class MyTimer extends Polymer.Element {
      static get is() {
        return 'my-timer';
      }

      static get properties() {
        return {
          
        };
      }

    }

    window.customElements.define(MyTimer.is, MyTimer);
  </script>
</dom-module>