<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="my-timer.html">
<link rel="import" href="log-session.html">
<dom-module id="time-entry">
  <template>
    <style>
      :host {}
    </style>

    <my-timer></my-timer>
    <log-session></log-session>

  </template>

  <script>
    class TimeEntry extends Polymer.Element {
      static get is() {
        return 'time-entry';
      }

      static get properties() {
        return {

        };
      }
    }

    window.customElements.define(TimeEntry.is, TimeEntry);
  </script>
</dom-module>