<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="session-list">
  <template>
    <style>
      :host {
      }
    </style>

    session list
    

  </template>

  <script>
    class SessionList extends Polymer.Element {
      static get is() {
        return 'session-list';
      }

      static get properties() {
        return {
          
        };
      }
    }

    window.customElements.define(SessionList.is, SessionList);
  </script>
</dom-module>