<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase-firestore.js"></script>
<script>
  /**
    * 
    * @polymerMixin
    * @mixinFunction
    */

  const MyFirebaseMixin = (superclass) => {
    return class extends superclass {
      constructor() {
        super();
                
        if( !window.TTrack ){
          window.TTrack = {};
        }

        if( !window.TTrack.firebaseInitialized ){
          window.TTrack.firebaseInitialized = true;
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyCM3V3Fvd4RiAH75WLhgqEqS_8Z60EYAa8",
            authDomain: "timetrackathon.firebaseapp.com",
            databaseURL: "https://timetrackathon.firebaseio.com",
            projectId: "timetrackathon",
            storageBucket: "timetrackathon.appspot.com",
            messagingSenderId: "305609050535"
          };
          firebase.initializeApp(config);

          window.TTrack.firebase = firebase;
          window.TTrack.firestore = firebase.firestore();
          const settings = {timestampsInSnapshots: true};
          window.TTrack.firestore.settings(settings);
        }
      }

      
      /** AUTH **/
      firebaseSignIn() {
        let provider = new window.TTrack.firebase.auth.GoogleAuthProvider();

        window.TTrack.firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL)
        .then(function() {
          return window.TTrack.firebase.auth().signInWithPopup(provider).then(function(result) {
            let token = result.credential.accessToken;
            window.TTrack.firebaseUser = result.user;
          });
        }).catch(function(error) {
          console.log('error signing in');
        });
      }
      
      firebaseLogOut() {
        window.TTrack.firebase.auth().signOut()
        .then(function() {
          window.TTrack.firebaseUser = null;
        })
        .catch(function(error) {
          console.log('error signing out');
        });
      }

      refreshData() {
        // get workspaces and projects
        this.getTeamMemberDataFromFirebase().then((userDoc) => {
          let workspaces = userDoc.data().workspaces;
          let projects = userDoc.data().projects;
          window.TTrack.currentWorkspace = workspaces[0];
          window.TTrack.workspaces = workspaces;
          window.TTrack.projects = projects; 
        });
      }

      getCurrentWorkspaceRef() {
        return window.TTrack.currentWorkspace;
      }

      getUserID() {
        return window.TTrack.firebaseUser.uid;
      }

      getWorkSpace() {
        return window.TTrack.currentWorkspace;
      } 

      /** WORKSPACE SHIZNIT **/
      getTeamMemberDataFromFirebase() {
        return window.TTrack.firestore.collection("team_members").doc(window.TTrack.firebaseUser.uid).get();
      }


      /** HELPERS **/
      getFirebaseDate(inDate){
        return inDate / 1000;
      }
      getJavascriptDate(secondsFormat) {
        return new Date(secondsFormat.seconds * 1000);
      }
      
      // formatDb() {
      //   let self = this;
      //   this.getJobsInStorage().then(function(querySnapshot) {

      //     let counter = 0;
      //     querySnapshot.forEach(function(doc) {
      //       let jobToUpdate = doc.data();
            
      //       /*
      //       if( typeof(jobToUpdate.order) == 'undefined'){
      //         jobToUpdate.order = 1000;
      //         console.log('no order');
      //       }
      //       if( typeof(jobToUpdate.archived) == 'undefined'){
      //         jobToUpdate.archived = false;
      //         console.log('no archived');
      //       }
      //       */
            
      //       self.updateJobInStorage(doc.id, jobToUpdate).then(() => {
      //         console.log('job updated');
      //       });
      //     });
      //   });
      // }
    }
  }
</script>