<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="tt-header">
  <template>
    <style>
      :host {}
    </style>

    <div class="clock">loading</div>

  </template>

  <script>
    class TtHeader extends Polymer.Element {
      static get is() {
        return 'tt-header';
      }
      connectedCallback() {
        super.connectedCallback();
        this.clock();     
        setInterval(this.clock.bind(this), 1200);
      }
      clock() {
        let time = new Date();
        let hours = time.getHours();
        let minutes = time.getMinutes();
        let seconds = time.getSeconds();
        this.shadowRoot.querySelector('.clock').innerHTML = formatTime(hours) + ":" + formatTime(minutes) + ":" + formatTime(seconds);
        function formatTime(num) {
          return num < 10 ? '0' + num : num;
        }
      }
      
    }
    
    
    window.customElements.define(TtHeader.is, TtHeader);
    
    
	  
  </script>
</dom-module>