<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../global/tt-header.html">
<link rel="import" href="../global/my-firebase-mixin.html">
<link rel="import" href="../time-entry/time-entry.html">
<link rel="import" href="../session-list/session-list.html">
<dom-module id="app-page">
  <template>
    <style>
      :host {
      }

      main {
        display: flex;
        flex-direction: column;
      }
    </style>
    
    <tt-header></tt-header>
    <main>
      <time-entry></time-entry>
      <session-list></session-list>
    </main>
  </template>

  <script>
    class AppPage extends MyFirebaseMixin(Polymer.Element) {
      static get is() {
        return 'app-page';
      }

      static get properties() {
        return {
          route: {
            type: Object,
            observer: '_routeChanged'
          }
        };
      }

      _routeChanged() {
        console.log('route changed');
      }

      connectedCallback() {
        super.connectedCallback();

        this.addAuthListener();
      }


      addAuthListener() {
        window.TTrack.firebase.auth().onAuthStateChanged((user) => {
          this.checkAuth();
        });
      }

      checkAuth() {
        if( typeof window.TTrack.firebaseUser !== 'undefined'){
          if(window.TTrack.firebaseUser) {
            console.log('logged in');
            this.refreshData();
          } else {
            console.log('NOT logged in');
            this.set('myRoute.path', 'home');
          } 
        }
      }
    }

    window.customElements.define(AppPage.is, AppPage);
  </script>
</dom-module>