<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../global/my-firebase-mixin.html">
<dom-module id="unauth-home-page">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Welcome to Tracker</h1>
    <button on-click="_signIn">Please sign in</button>
  </template>

  <script>
    class UnauthHomePage extends MyFirebaseMixin(Polymer.Element) {
      static get is() {
        return 'unauth-home-page';
      }
      
      _signIn() {
        this.firebaseSignIn();
      }
    }

    window.customElements.define(UnauthHomePage.is, UnauthHomePage);
  </script>
</dom-module>