<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../global/tt-footer.html">
<link rel="import" href="../unauth-home-page/unauth-home-page.html">
<link rel="import" href="../app-page/app-page.html">
<tt-header></tt-header>
<dom-module id="timetrackathon-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <app-location route="{{myRoute}}"></app-location>
    <app-route route="{{myRoute}}" pattern="/:page" data="{{myRouteData}}" tail="{{mySubroute}}"></app-route>
    
    <iron-pages selected="[[myRouteData.page]]" attr-for-selected="name" fallback-selection="view404">
      <unauth-home-page name="home"></unauth-home-page>
      <app-page name="app" route="mySubroute"></app-page>
      <div name="view404"><h1>404 Not found</h1></div>
    </iron-pages>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TimetrackathonApp extends MyFirebaseMixin(Polymer.Element) {
      static get is() { return 'timetrackathon-app'; }

      static get properties() {
        return {
          myRoute: {
            type: Object,
            observer: '_myRouteChanged'
          },
          myRouteData: Object,
          mySubroute: Object,
          loggedIn: {
            type: Boolean,
            value: false
          }
        };
      }

      _myRouteChanged() {
        if(this.myRoute.path === '' || this.myRoute.path === '/'){
          this.set('myRoute.path', '/app');
          return;
        }
        this.checkAuth();
      }

      //ConnectedCallback 
      connectedCallback() {
        super.connectedCallback();
        Polymer.passiveTouchGestures = true;
        
        window.TTrack.firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            window.TTrack.firebaseUser = user;
            console.log(window.TTrack.firebaseUser);
            this.loggedIn = true;
            if( this.myRoute.path === 'home' ) {
              this.set('myRoute.path', '/app');
            }
          } else {
            window.TTrack.firebaseUser = null;
            this.loggedIn = false;
          }
          this.checkAuth();
        });
      }

      checkAuth() {
        if( typeof window.TTrack.firebaseUser !== 'undefined'){
          if(window.TTrack.firebaseUser) {
            console.log('logged in');
            this.refreshData();
          } else {
            console.log('NOT logged in');
            this.set('myRoute.path', 'home');
          } 
        }
      }
    }

    window.customElements.define(TimetrackathonApp.is, TimetrackathonApp);
  </script>
</dom-module>
